  <!-- ================= CONTEÚDO PRINCIPAL ================= -->
  {% extends 'base.html'%}
  {% block tituloPagina%}
    <title>Contato</title>
  {% endblock %}
  {% block conteudoPagina%}
  <main>
    <section class="redes-sociais">
    <h2 class="section-title">Nossas redes Sociais</h2>
      <div class="redes-sociais-grid">
        <a href="https://www.instagram.com/clinica_paki/" target="_blank" class="rede-social-card">
          <i class='bx bxl-instagram'></i>
          <h3>Instagram</h3>
          <p>Acompanhe as novidades no nosso Instagram!</p>
        </a>
        <a href="https://www.tiktok.com/@arthuroliveira2" target="_blank" class="rede-social-card">
          <i class='bx bxl-tiktok' ></i>
          <h3>TikTok</h3>
          <p>Acompanhe nossos vídeos curtos!</p>
        </a>
        <a href="https://qrco.de/bgQyTU" target="_blank"  class="rede-social-card">
          <i class='bx bxl-whatsapp'></i>
          <h3>Whatsapp</h3>
          <p>Entre em contato conosco!</p>
        </a>
      </div>
    </section>

    <div>
      <button id="botao-tema">🌙</button>
    </div>
  </main>
  {% endblock %}