{% extends 'base.html'%}
{% block tituloPagina %}
    <title>Sobre o Usuário</title>
{% endblock %}
{% block conteudoPagina %}
<main>
    <div class="container-perfil-usuario">
    <div class="perfil-header">
        <div class="info-usuario">
            <h1 id="nome-usuario"></h1>
            <p class="tipo-usuario" id="tipo-usuario"></p>
            <p class="email-usuario" id="email-usuario"></p>
        </div>
    </div>

    <div class="abas-perfil">
    </div>

    <div class="conteudo-abas">
        
        <div id="aba-dados" class="aba-conteudo">
            <form class="formulario-perfil">
               <div class="linha-formulario">
                        <div class="grupo-formulario">
                            <label for="nome">Nome</label>
                            <input type="text" id="nome" name="nome" required placeholder="Seu primeiro nome">
                        </div>

                        <div class="grupo-formulario">
                            <label for="sobrenome">Sobrenome</label>
                            <input type="text" id="sobrenome" name="sobrenome" required placeholder="Seu sobrenome">
                        </div>
                        
                        
                    </div>
                    <div class="grupo-formulario">
                            <label for="data_nascimento">Data de Nascimento</label>
                            <input type="date" id="data_nascimento" name="data_nascimento">
                    </div>
                  
                    <div class="linha-formulario">
                        <div class="grupo-formulario">
                            <label for="idade">Idade</label>
                            <input type="number" id="idade" name="idade" min="18" max="999" placeholder="Ex: 30">
                        </div>

                        <div class="grupo-formulario">
                            <label for="peso">Peso (kg)</label>
                            <input type="number" id="peso" name="peso" min="0" step="0.01" placeholder="Ex: 70.5">
                        </div>
                    </div>

                    <div class="linha-formulario">
                        <div class="grupo-formulario">
                            <label for="altura">Altura (m)</label>
                            <input type="number" id="altura" name="altura" step="0.01"  placeholder="Ex: 1.75">
                        </div>

                        <div class="grupo-formulario">
                            <label for="doenca_cronica">Possui doença crônica?</label>
                            <select id="doenca_cronica" name="doenca_cronica">
                                <option value="sim">Sim</option>
                                <option value="nao">Não</option>
                            </select>
                        </div>
                    </div>

                   
                    
                    <div class="linha-formulario">
                        <div class="grupo-formulario">
                            <label for="telefone">Telefone</label>
                            <input type="tel" id="telefone" name="telefone" placeholder="(00) 00000-0000">
                        </div>
                        
                        <div class="grupo-formulario">
                            <label for="genero">Gênero</label>
                            <select id="genero" name="genero">
                                <option value="feminino">Feminino</option>
                                <option value="masculino">Masculino</option>
                                <option value="outro">Outro</option>
                                <option value="prefiro_nao_informar">Prefiro não informar</option>
                            </select>
                        </div>
                    </div>

                <button type="submit" class="botao-salvar-conta">Salvar Alterações</button>
            </form>
        </div>

      
        <div id="aba-seguranca" class="aba-conteudo">
            <form class="formulario-seguranca">
                <div class="grupo-formulario">
                    <label>Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                
                <div class="linha-formulario">
                    <div class="grupo-formulario">
                        <label>Nova Senha</label>
                        <input type="password" name="confere_senha"  placeholder="Digite a nova senha" id="nova_senha">
                    </div>
                    <div class="grupo-formulario">
                        <label>Confirmar Nova Senha</label>
                        <input type="password" placeholder="Confirme a nova senha" id="confirmar_senha" name="nova_senha">
                    </div>
                </div>

                <button type="submit" class="botao-salvar-conta">Salvar Alterações</button>
            </form>
        </div>

        <div id="aba-excluir" class="aba-conteudo">
            <form class="formulario-excluir">
                <button type="submit" class="botao-excluir-conta">Quero excluir Minha conta</button>
            </form>
        </div>
    </div>
    </div>

    <div>
      <button id="botao-tema">🌙</button>
    </div>
</main>



{% endblock %}